<h1>Listing Users</h1>

<link rel="stylesheet" href="/assets/TableSorter/themes/blue/style.css"> 
<script type="text/javascript" src="/assets/TableSorter/jquery-latest.js"></script> 
<script type="text/javascript" src="/assets/TableSorter/jquery.tablesorter.js"></script> 

<script>
	
	$(function() {
		$("#myTable2").tablesorter({theme:'blue',widgets:['zebra'],widthFixed:true});
	});

</script>

<table id="myTable2" class="tablesorter tablesorter-blue">
	<thead>
  <tr class="tablesorter-headerRow">
    <th>Email</th>
    <th>Vendor</th>
    <th>Admin</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

	<tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.email %></td>
	    <td><%= user.vendor %></td>
	    <td><%= user.admin %></td>
	    <td><%= link_to 'Show', user %></td>
	    <td><%= link_to 'Edit', edit_user_path(user) %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New User', new_user_path, class: "btn btn-mini" %> <%= link_to 'View Orders', orders_path, class: "btn btn-mini"%> <%= link_to 'Return Home', root_path, class: "btn btn-mini" %>
