<p id="notice"><%= notice %></p>

<p>
  <b>Customer Name:</b>
  <%= @order.customer_name %>
</p>

<p>
  <b>Customer Email:</b>
  <%= @order.customer_email %>
</p>

<p>
  <b>Id:</b>
  <%= @order.id %>
</p>

<p>
  <b>Location:</b>
  <%= @order.address %>
</p>

<p>
  <b>Contents:</b>
  <%= @order.contents %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Vendor:</b>
  <%= @order.vendor %>
</p>

<p>
  <b>Ready For Pickup:</b>
  <%= @order.ready_for_pickup %>
</p>

<p>
  <b>Owner:</b>
  <%= @order.user.email %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
